<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card mb-10">
          <div class="card-body store-body">
            <div class="product-info">
              <div class="product-gallery">
                <div class="product-gallery-thumbnails">
                  <ol class="thumbnails-list list-unstyled">
                    <li><img src="https://via.placeholder.com/350x350/ffcf5b" alt=""></li>
                    <li><img src="https://via.placeholder.com/350x350/f16a22" alt=""></li>
                    <li><img src="https://via.placeholder.com/350x350/d3ffce" alt=""></li>
                    <li><img src="https://via.placeholder.com/350x350/7937fc" alt=""></li>
                    <li><img src="https://via.placeholder.com/350x350/930000" alt=""></li>
                  </ol>
                </div>
                <div class="product-gallery-featured">
                  <%= image_tag @product.picture %>
                </div>
              </div>
              <div class="product-seller-recommended">
                <!-- /.recommended-items-->
                <div class="product-description mb-5">
                  <h2 class="mb-5"><%= t "description" %></h2>
                  <p><%= @product.description %></p>
                </div>
              </div>
            </div>
            <div class="product-payment-details">
              <h4 class="product-title mb-2"><%= @product.name %></h4>
              <h2 class="product-price display-4"><%= number_to_currency @product.price %></h2>
              <% if @product.discount? %>
                <p class="text-success">
                <i class="fa fa-credit-card"></i>
                <%= number_to_currency @product.price * @discount %>
                </p>
              <% end %>
              <p class="mb-0"><i class="fa fa-truck"></i><%= t "deliverable" %></p>
              <div class="text-muted mb-2"><small><%= t "know_more" %></small></div>
              <%= form_for :cart, url: update_item_path do |f| %>
                <%= f.label :quantity, t("quantity") %>
                <%= f.number_field :quantity, value: nil, min: Settings.min_quantity, class: "form-control mb-5 input-lg" %>
                <%= f.hidden_field :id, value: @product.id %>
                <%= f.submit t("buy_now"), class: "btn btn-primary btn-lg btn-block" %>
              <% end %>
              <div id="ratingform">
                <% if current_user.rated? @product %>
                  <%= render "shared/rating" %>
                <% else %>
                  <%= render "shared/rating_form" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
